<section>
    <div class="row section1">
        <div class="col-4">
          <div class="text-center text-white">
            <h3>LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
          </div>
        </div>
      
        <div class="col-4">
          <div class="text-center text-white">
            <h3>AROUND THE WEB</h3>
          </div>
        </div>
        <div class="col-4">
          <div class="text-center text-white">
            <h3>ABOUT FREELANCER</h3>
            <p>
              Freelance is a free to use, licensed Bootstrap theme created by Route
            </p>
          </div>
        </div>
      </div>      
</section>
<section >
    <div class="row section2">
        <p class="text-white text-center">Copyright © Your Website 2021</p>
    </div>
</section>