<nav #navBar class="navbar navbar-expand-lg main-color py-4 fixed-top">
    <div class="container">
        <a class="navbar-brand text-uppercase fw-medium fs-3 text-white"
        routerLink="/home">Start Frame work</a>
        <button class="navbar-toggler border-0" type="button" dat-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-expanded="false"aria-label="Toggle navigation">
            <samp class="navbar-toggler-icon"></samp>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link text-uppercase text-white me--md-3 mt-2 fw-medium" routerLink="/about" routerLinkActive="px-3 py-2 bg-dark rounded">About</a>
                <a class="nav-link text-uppercase text-white me--md-3 mt-2 fw-medium" routerLink="/portfolio" routerLinkActive="px-3 py-2 bg-dark rounded">portfoilio</a>
                <a class="nav-link text-uppercase text-white me--md-3 mt-2 fw-medium" routerLink="/contact" routerLinkActive="px-3 py-2 bg-dark rounded">Contact</a>
            </div>
        </div>
    </div>
</nav>