<div class="Contact">
  <div
    class="container p-lg-4 d-flex justify-content-center align-items-center"
  >
    <h2 class="text-uppercase mb-3 fs-1 pt-4 fw-bolder">conatct section</h2>
  </div>
  <form class="w-50 p-3 mx-auto mt-5 ng-pristine ng-valid ng-touched">
    <div>
      <label for="userName" class="position-relative top-0">userName : </label>
      <input
        id="userName"
        type="text"
        placeholder="userName"
        name="userName"
        class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched"
      />
    </div>
    <div>
      <label for="userAge" class="position-relative top-0">userAge :  </label>
      <input
        id="userAge"
        type="number"
        placeholder="userAge"
        name="userAge"
        class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched"
      />
    </div>
    <div>
      <label for="userEmail" class="position-relative top-0">userEmail : </label>
      <input
        id="userEmail"
        type="email"
        placeholder="userEmail"
        name="userEmail"
        class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched"
      />
    </div>
    <div>
      <label for="userPassword" class="position-relative top-0">userPassword : </label>
      <input
        id="userPassword"
        type="password"
        placeholder="userPassword"
        name="userPassword"
        class="form-control border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched"
      />
    </div>

    <button class="btn mt-4 text-white p-3" style="background-color: #1abc9c">
      send Message
    </button>
  </form>
</div>